* {margin:0;padding:0;}
body { 
background-color:#000000;font-family:'Arial'; background-image: url('/7.jpg')}
#gpl {background-color:#v; clear:both; height:30px;}
#page {position:relative ; background-image:url('images/h.jpg');padding-top:10px;position:relative;width:940px;margin:0 auto;}

header {height:450px;}



nav { height:50px;background-color:#fff;}
nav ul {list-style:none;}
nav ul li {

float:left;margin:10px 20px;font-size:25px;font-family:'Arial';font-weight:bold;}
nav ul li a {text-shadow: 0px 0px 6px rgba(0,0,0,0.2);
text-decoration:none;}
nav ul li a:hover {color:#ff0000;text-decoration:underline;}



.header_img { background-image:url('images/h.jpg');padding-top:15px;height:1800px;margin-bottom:20px;}

#con {background-color:#151616; clear:both; height:30px; }

#content {color:#fff; clear:both;}
#content h1 {font-size:28px;font-family:'Georgia';font-style:italic;font-weight:normal;margin-bottom:20px;}
#content img.float-right {float:center;margin:0px 0px 15px 15px;}
#content p {margin-bottom:15px;}

#conn {padding-down:20px;background-color:#fff; clear:both; height:30px; }

#nav1 { background-image:url('images/2.jpg');
 height:350px;width:940px;}
 
#tre {padding-top:20px;height:260px;width:450px;float:left;font-size:16px;font-weight:bold;line-height:20px;font-family:'Arial';color:#fff;rgba(255,255,255,0.2)}

#nav2 {padding-top:20px;float:right;}

#nav3 { background-image:url('images/t.gif');
 height:350px;width:940px;}
 
 #nav4 { background-image:url('images/2.jpg');
 height:420px;width:940px;}
